# Ignore .editorConfig and .cache files
*.editorConfig
*.cache

# Ignore Visual Studio specific files and folders
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build output folders
bin/
obj/

# Ignore other temporary or cache files
*.log
*.tlog
*.cache

# Ignore any other unwanted files or directories
